<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutPadrao">
<head>

<title>Cadastro de Operador</title>
</head>

<section layout:fragment="conteudo">

	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 col-sm-12">
			<ol class="breadcrumb">
				<li><a th:href="@{/index}">Dashboard</a></li>
				<li class="active">Usuários</li>
				<li class="active">Cadastrar</li>
			</ol>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-1">
							<!-- <i class="fa fa-support fa-5x"></i> -->
							<img class="imagem_acao" th:src="@{/imagens/ic_operador.png}" />
						</div>
						<div class="col-lg-6">
							<h3 class="page-header">
								Usuários <small>Cadastrar usuário</small>
							</h3>
						</div>
					</div>
				</div>

				<div class="panel-body">

					<form class="form-horizontal" method="POST"
						enctype="multipart/form-data" th:action="@{/usuarios}"
						th:object="${usuario}" autocomplete="off">

						<input type="hidden" th:field="*{id}" /> 
						<input type="hidden"
							th:field="*{dataCadastro}" />

						<div layout:include="layout/mensagem-erro"></div>
						<div layout:include="layout/mensagem-geral"></div>

						<div class="row">
							<div class="col-lg-12 col-md-12 ">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('nome')} ? has-error">
									<label for="nome" class="col-lg-3 col-md-3 control-label">Nome</label>
									<div class="col-lg-9 col-md-9">
										<input type="text" class="form-control" id="nome"
											th:field="*{nome}" autofocus="autofocus"
											placeholder="Nome do usuário" 
											autocomplete="off"/>
									</div>
								</div>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('sobrenome')} ? has-error">
									<label for="nome" class="col-lg-3 col-md-3 control-label">
										Sobrenome</label>
									<div class="col-lg-9 col-md-9">
										<input type="text" class="form-control" id="sobrenome"
											th:field="*{sobrenome}" autofocus="autofocus"
											placeholder="Sobrenome do usuário" 
											autocomplete="off"/>
									</div>
								</div>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('codigo')} ? has-error">
									<label for="codigo" class="col-lg-3 col-md-3 control-label">Código</label>
									<div class="col-lg-9 col-md-9">
										<input type="text" class="form-control" id="codigo"
											th:field="*{codigo}" placeholder="Codigo do usuário" autocomplete="off"/>
									</div>
								</div>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('username')} ? has-error">
									<label for="username" class="col-lg-3 col-md-3 control-label">login</label>
									<div class="col-lg-9 col-md-9">
										<input type="text" class="form-control" id="username"
											th:field="*{username}" placeholder="Username" autocomplete="off"/>
									</div>
								</div>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('password')} ? has-error">
									<label for="password" class="col-lg-3 col-md-3 control-label">Password</label>
									<div class="col-lg-9 col-md-9">
										<input type="password" class="form-control" id="password"
											th:field="*{password}" placeholder="Senha" autocomplete="off"/>
									</div>
								</div>
								<div class="form-group">
									<label for="enabled" class="col-sm-1 col-md-3 col-lg-3 control-label">Status</label>
									<div class="col-sm-4 col-md-4 col-lg-4">
										<label class="radio-inline">
										  <input type="radio" name="enabled" value="true" th:field="*{enabled}"/>Ativo
										</label>
										<label class="radio-inline">
										  <input type="radio" name="enabled" value="false" th:field="*{enabled}"/>Inativo
										</label>
									</div>
								</div>
								<div class="form-group">
									<label for="permissao" class="col-sm-1 col-md-3 col-lg-3 control-label">Permissão</label>
									<div class="col-sm-4 col-md-4 col-lg-4">
										<label class="radio-inline">
										  <input type="radio" name="permissao" value="ROLE_USER" th:field="*{perfil}"/>Usuário
										</label>
										<label class="radio-inline">
										  <input type="radio" name="permissao" value="ROLE_ADMIN" th:field="*{perfil}"/>Administrador
										</label>
									</div>
								</div>
								

								<div class="form-group">
									<div class="col-lg-6 col-md-6 col-md-offset-3 col-lg-offset-3">
										<button  type="submit" class="btn btn-success col-lg-4 col-md-4"><i class="fa fa-floppy-o" aria-hidden="true"></i> SALVAR</button>
										<a th:href="@{/usuarios}" class="btn btn-default col-lg-4 col-md-4 col-lg-offset-1 ">CANCELAR</a>
										
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>

</html>