<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutPadrao">

<head>
<title>Pesquisa de Operadores</title>
</head>

<section layout:fragment="conteudo">

	<div layout:include="layout/mensagem-geral"></div>

	<div class="panel panel-default">

		<div class="panel-body">

			<div class="table-responsive">

				<table class="table table-bordered table-striped">
					<fieldset>

						<legend>
							<h4>Lista de Operadores</h4>
							<a class="acq-link-panel" th:href="@{/usuarios/novo}"><h4>Novo
									operador</h4></a>
						</legend>

					</fieldset>

					<thead>
						<tr>
							<th class="text-center col-md-2">Operador</th>
							<th class="text-center col-md-2">Codigo</th>
							<th class="text-center col-md-2">Username</th>
							<th class="text-center col-md-2">Data de Cadastro</th>
							<th class="text-center col-md-2" colspan="2">Perfil</th>
							<th class="text-center col-md-2">Status</th>
							<th class="text-center col-md-2">Operação</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="usuario: ${usuarios}">

							<td class="text-center" th:text="${usuario.nome}">1</td>
							<td class="text-center" th:text="${usuario.codigo}">1</td>
							<td class="text-center" th:text="${usuario.username}">1</td>
							<td class="text-center" th:text="${{usuario.dataCadastro}}"></td>
							<td class="text-center" 
								th:each="permissao: ${usuario.permissoes}">
								<div class="form-group">
									<div th:text="${permissao.nome}"></div>
								</div>
							</td>
							<td class="text-center" th:text="${{usuario.enabled}}"></td>
							<td class="text-center"><a class="btn btn-link btn-xs"
								th:href="@{/usuarios/{id}(id=${usuario.id})}" title="Editar"
								rel="tooltip" data-placement="top"> <span
									class="glyphicon glyphicon-pencil"></span>
							</a> <a class="btn btn-link btn-xs" data-toggle="modal"
								data-target="#confirmacaoExclusaoModal"
								th:attr="data-id=${usuario.id}, data-nome=${usuario.nome}"
								title="Excluir" rel="tooltip" data-placement="top"> <span
									class="glyphicon glyphicon-remove"></span>
							</a></td>
						</tr>

						<tr>
							<td class="text-center" colspan="7s"
								th:if="${#lists.isEmpty(usuarios)}">Nenhum operador foi
								encontrado</td>
						</tr>

					</tbody>

				</table>

			</div>

		</div>
		<div layout:include="usuario/dialog-confirmacao-exclusao"></div>
	</div>

</section>


</html>