<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:security="http://www.springframework.org/security/tags"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/index}"> <img
				th:src="@{/imagens/logo.png}" />
			</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/index}"><i class="fa fa-fw fa-dashboard"></i>
						Dashboard <span class="sr-only">(current)</span> </a></li>

				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false"><i class="fa fa-fw fa-table"></i>
						Movimentações <span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/movimentacoes/registrar}">Registrar </a></li>
						<li role="separator" class="divider"></li>
						<li><a th:href="@{/movimentacoes}">Pesquisar </a></li>
					</ul></li>

				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false"><i class="fa fa-fw fa-bell"></i> Produtos
						<span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/produtos/novo}">Registrar </a></li>
						<li role="separator" class="divider"></li>
						<li><a th:href="@{/produtos}">Pesquisar </a></li>
					</ul></li>


				<li class="dropdown" ><a
					href="#" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false"><i
						class="fa fa-user"></i> Usuários<span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/usuarios/novo}">Registrar </a></li>
						<li sec:authorize="hasRole('ROLE_ADMIN')" role="separator" class="divider"></li>
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/usuarios}">Pesquisar </a></li>

						<li><a data-toggle="modal" data-target="#alterarSenhaModal" >Alterar Senha </a></li>
					</ul></li>
			</ul>
			

			<!-- Top Menu Items -->
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false"> <i class="fa fa-fw fa-sign-out"></i> <span
						sec:authentication="principal.nome"> </span> <span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li>
							<form action="/logout" method="post">
								<button
									style="width: 100%; border: none; background-color: white;"
									type="submit" class="btn">
									<!-- <span style="float: left; padding: 3px 12px; clear: both; font-weight: 400;"
										class="fa fa-fw fa-power-off"></span> -->
									Sair
								</button>
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />
							</form>
						</li>
					</ul></li>
			</ul>

		</div>
	</div>
</nav>

<!--  MODAL ALTERAR SENHA -->
<div class="modal fade" id="alterarSenhaModal" tabindex="-1" role="dialog">
	
	<div class="modal-dialog" role="document">
	
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="titleAlterarSenha" >Você deseja alterar sua senha ?</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div >
				<form  method="POST" th:action="@{/usuarios/atualizar-senha}"
							>
			<input type="hidden" name="_method" value="POST" />
				
				<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
						
								
					<div class="form-group col-lg-11">
						<label for="nome">Nova senha</label> 
						<input type="text"
							class="form-control" id="password" name="password" placeholder="Senha" />
					</div>
					<div class="form-group col-lg-11">
						<label for="descricao">Confirmar senha</label> 
						<input type="text"
							class="form-control" id="descricao" placeholder="Confirmar senha" />
					</div>
									<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-success">Confirmar</button>
				</div>
				</form>
				</div>

			</div>
		
	</div>
</div>

</html>