<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" type="image/png" th:href="@{/imagens/icon.png}" />
<title>Acqua</title>

<!-- Bootstrap Core CSS -->
<link th:href="@{/css/theme_admin/bootstrap.min.css}" rel="stylesheet" />

<!-- Custom CSS -->
<link th:href="@{/css/theme_admin/sb-admin.css}" rel="stylesheet" />

<!-- Morris Charts CSS -->
<link th:href="@{/css/theme_admin/plugins/morris.css}" rel="stylesheet" />

<!-- Custom Fonts -->
<link th:href="@{/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css" />

<!-- CSS -->
<link th:href="@{/css/acqua.css}"
	rel="stylesheet" type="text/css" />
	
<link rel="stylesheet" type="text/css" th:href="@{/css/jasny/jasny-bootstrap.min.css}" />

	
</head>

<body>

	<div id="wrapper">
		<header layout:include="layout/cabecalho"></header>
		<div id="page-wrapper">

			<div class="container-fluid">

				<section layout:fragment="conteudo"></section>

			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script th:src="@{/js/theme_admin/jquery.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/js/theme_admin/bootstrap.min.js}"></script>

	<!-- Morris Charts JavaScript -->
	<script th:src="@{/js/theme_admin/plugins/morris/raphael.min.js}"></script>
	<script th:src="@{/js/theme_admin/plugins/morris/morris.min.js}"></script>
	<script th:src="@{/js/theme_admin/plugins/morris/morris-data.js}"></script>
	<script type="text/javascript" th:src="@{/js/jasny/jasny-bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/acqua.js}"></script>
	<script type="text/javascript" th:src="@{/js/page.js}"></script>

</body>


</html>