.navbar-brand h2 {
	margin-top: -4px;
	color: #fff;
}

body{
	background-image: url("/imagens/fundo_verdeclaro.png");
}
.acq-link-panel {
	float: right;
	margin-top: -39px;
	padding: 0;
}

.acq-link-panel:hover {
	cursor: "pointer"
}

/*tamanho imagem fileupload*/
#avatar {
	width: 30px;
	height: 30px;
}

.card-img-bottom a img {
	width: 320px;
	height: 320px;
}

.text-center{
	padding-top: 30px;
	padding-right: 30px
}

.form-cadprod{
	padding-top: 30px;
	
}

.file-drop-zone {
	margin: 0 auto;
}

/*Ocultar o botão Upload do fileupload*/
.btn.btn-default.fileinput-upload.fileinput-upload-button {
	display: none; . navbar-brand h2 { margin-top : -4px;
	color: #fff;
}

.acq-link-panel {
	float: right;
	margin-top: -40px;
	padding: 0;
}

.btn-panel-listarUsuarios {
	float: right;
	margin-top: -40px;
}

.acq-link-panel:hover {
	cursor: "pointer"
}

.card-img-bottom {
	color: #fff;
	width: 60rem;
	height: 60rem;
	text-align: center;
	background-size: cover;
}

/*tamanho imagem fileupload*/
#avatar {
	width: 30%;
}

.file-drop-zone {
	margin: 0 auto;
}

/*Ocultar o botão Upload do fileupload*/
.btn.btn-default.fileinput-upload.fileinput-upload-button {
	display: none;
}

#fotoEmbalagem {
	padding-left: 60px;
}

#fotoMovimentacaoEmabalagem {
	width: 100%;
	height: 100%;
	margin-left: 30px;
}

.form-cadprod .form-group #btn1 {
	width: 40px;
	height: 40px;

}