body{
	
	height: 100%;
	width: 100%
	
	
}

.panel-info {
    border-color: #4b5da5;
}

#campoBuscaCodigoBarras{
	margin-left: 15%	
}


.panel-heading h3 {
	font-size: 20px;
	margin-left: 70px;
	margin-top: -35px;
	color: white;
}

/* #botao-voltar-form {
	margin-top: -60px;
	padding: 10px;
	background-color: #0ad19f;	
}
#botao-voltar-form a{
	color: white;
}  */


#card_perfil{
	/* margin-top: 50px; */
}


#botao-voltar-form {
    float: right;
    margin-top: -58px;
    margin-right: -14px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #0ad19f;
    color: #fff;
    text-decoration: none;
    
}


@media ( max-width : 768px) {
	.panel-heading h3 {
		font-size: 14px;
		margin-left: 70px;
		margin-top: -35px;
	}
	
	
	
	#botao-voltar-form {
	     float: right;
	    margin-top: -51px;
	    margin-right: -15px;
	    padding-bottom: 21px;
	    padding-top: 21px;
	    padding-right: 20px;
	    padding-left: 20px;
	    background-color: #0ad19f;
	    color: #fff;
	    text-decoration: none;
	    
	}
	
	
	
	body{
	background-color: white;
	height: 100%;
	width: 100%
	
	
}
	
}

@media ( max-width : 425px) {
	.panel-heading h3 {
		font-size: 14px;
		margin-left: 70px;
		margin-top: -35px;
	}
	
	body{
	background-color: white;
	height: 100%;
	width: 100%
	
	
}

	
	
}

@media ( max-width : 320px) {
	.panel-heading h3 {
		font-size: 10px;
		margin-left: 70px;
		margin-top: -35px;
	}
	
}

#logo_produto {
	height: 50px;
	width: 50px;
}

.navbar-brand h2 {
	margin-top: -4px;
	color: #fff;
}

.navbar-brand img {
	margin-top: -10px;
	width: 200px;
}

.navbar-right {
	background-color: #c0c0c0;
}

/* body{
	background-image: url("/imagens/fundo_verdeclaro.png");
} */
.acq-link-panel {
	float: right;
	margin-top: -39px;
	padding: 0;
}

.acq-link-panel:hover {
	cursor: "pointer"
}

/*tamanho imagem fileupload*/
#avatar {
	width: 30px;
	height: 30px;
}

.card-img-bottom img {
	width: 240px;
	height: 240px;
	border: 1px solid; 
	border-color: #d6d6d6;
	margin-bottom: 10px;
	margin-top: 20px;
	
}

#link_atualizar_imagem{
	margin-left: 37%
}

#painel_perfil{
	margin-top: 50px;
	border-color: #dddddd; 	
}

.card-img-bottom{
text-align: center;
}

.text-center {
	margin-top: 100px;
    padding-right: 30px;
    margin-bottom: 50px;
}

.thumbnail {
    height: 170px;
    width: 290px;
    
}
.form-cadprod {
	padding-top: 60px;
}

.file-drop-zone {
	margin: 0 auto;
}

/*Ocultar o botão Upload do fileupload*/
.btn.btn-default.fileinput-upload.fileinput-upload-button {
	display: none; . navbar-brand h2 { margin-top : -4px;
	color: #fff;
}

.acq-link-panel {
	float: right;
	margin-top: -40px;
	padding: 0;
}

.btn-panel-listarUsuarios {
	float: right;
	margin-top: -40px;
}

.acq-link-panel:hover {
	cursor: "pointer"
}

.card-img-bottom {
	color: #fff;
	width: 60rem;
	height: 60rem;
	text-align: center;
	background-size: cover;
}

/*tamanho imagem fileupload*/
#avatar {
	width: 30%;
}

.file-drop-zone {
	margin: 0 auto;
}

/*Ocultar o botão Upload do fileupload*/
.btn.btn-default.fileinput-upload.fileinput-upload-button {
	display: none;
}



#fotoEmbalagem {
	padding-left: 60px;
}

#fotoMovimentacaoEmabalagem {
	width: 100%;
	height: 100%;
	margin-left: 30px;
}

.form-cadprod .form-group #btn1 {
	width: 40px;
	height: 40px;
}