<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutIndex">

<head>
<title>Sistema Acqua - Controle de Movimentação de Produção</title>
</head>

<section layout:fragment="conteudo">

	<div class="container">

		<main>
		<div class="wrapper">

			<div class="block">
				<div class="block-img">
					<img th:src="@{imagens/prod.png}" alt="Produtos" />
				</div>
				<div class="block-desc">		
					<div class="block-link">
						<a  id="btn_cad" th:href="@{/produto/novo}">Cadastro de produtos</a>
<!-- 						<button id="btn_cad" class="btn btn-primary" th:href="@{/produto/novo}">Cadastro de produtos</button> -->
					</div>
					<div class="block-link">
						<a  id="btn_listar" th:href="@{/produto}">Lista de produtos</a>
					</div>
				</div>

			</div>

			<div class="block">
				<div class="block-img">
					<img th:src="@{imagens/usuario.png}" alt="usuario" />
				</div>
				<div class="block-desc">
					<div class="block-link">
						<a id="btn_cad" th:href="@{/usuarios/novo}">Cadastro de operadores</a>
					</div>
						<div class="block-link">
						<a id="btn_listar" th:href="@{/usuarios}">Lista de operadores</a>
					</div>
				</div>
				<!-- <div class="block-link">
					<a href="#">Ver mais</a>
				</div> -->
			</div>

			<div class="block">
				<div class="block-img">
					<img th:src="@{imagens/mov.png}" alt="movimentacao" />
				</div>
				<div class="block-desc">
				<div class="block-desc">
					<div class="block-link">
						<a  id="btn_cad" th:href="@{/movimentacoes/pesquisar}">Cadastro de movimentações</a>
					</div>
					<div class="block-link">
						<a  id="btn_listar" th:href="@{/movimentacoes}">Lista de movimentações</a>
					</div>		
				</div>
				</div>
<!-- 				<div class="block-link"> -->
<!-- 					<a href="#">Ver mais</a> -->
<!-- 				</div> -->
			</div>


		</div>
		</main>


	</div>

</section>

</html>