<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutIndex">

<head>
<title>Sistema Acqua - Controle de Movimentação de Produção</title>
</head>

<section layout:fragment="conteudo">

	<div class="container">

		<main>
		<div class="wrapper">

			<div class="block">
				<div class="block-img">
					<img th:src="@{imagens/prod.png}" alt="Produtos" />
				</div>
				<div class="block-desc">
					<li><a th:href="@{/produtos/novo}">Cadastro de produtos</a></li>
					<li><a th:href="@{/produtos}">Lista de produtos</a></li>
					<li>Verificar produto</li>
				</div>
				<div class="block-link">
					<a href="#">Ver mais</a>
				</div>
			</div>

			<div class="block">
				<div class="block-img">
					<img th:src="@{imagens/usuario.png}" alt="usuario" />
				</div>
				<div class="block-desc">
					<li>Novo usuário</li>
					<li>Acesso Sistema</li>
					<li>Cadastar usuário</li>
				</div>
				<div class="block-link">
					<a href="#">Ver mais</a>
				</div>
			</div>

			<div class="block">
				<div class="block-img">
					<img th:src="@{imagens/mov.png}" alt="movimentacao" />
				</div>
				<div class="block-desc">
					<li>Nova movimentação</li>
					<li>Verificar movimentação</li>
					<li>Listar as movimentações</li>
				</div>
				<div class="block-link">
					<a href="#">Ver mais</a>
				</div>
			</div>


		</div>
		</main>


	</div>

</section>

</html>