<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutPadrao">


<head>
<title>Registro de Movimentação</title>
</head>

<section layout:fragment="conteudo" id="movimentacaoHolter">
	<div class="row">

		<div class="col-lg-10 col-lg-offset-1 col-sm-12">
			<ol class="breadcrumb">
				<li><a th:href="@{/index}">Dashboard</a></li>
				<li class="active">Movimentações</li>
				<li class="active">Registrar</li>
			</ol>
			<div th:if="${param.codigo}"
				class="alert alert-danger alert-dismissible col-lg-12 " role="alert">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>Opss!</strong> Produto não encontrado, informe um código
				válido.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 col-sm-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-1">
							<!-- <i class="fa fa-support fa-5x"></i> -->
							<img class="imagem_acao" th:src="@{/imagens/movimentacao.png}" />
						</div>
						<div class="col-lg-6">
							<h3 class="page-header">
								Movimentações <small>Pesquisar código de barras</small>
							</h3>
						</div>
					</div>
				</div>

				<div class="panel-body">

					<div style="padding: 12% 50px 12% 50px;" class="row">
						<div th:if="${movimentacao == null}">
							<form method="GET" th:action="@{/movimentacoes/registrar/codigo}"
								th:object="${filtro}">

								<div class="col-lg-12 text-center">
									<div id="campoBuscaCodigoBarras"
										class="col-lg-10 col-lg-offset-1 input-group">
										<input class="form-control color"
											placeholder="Informe o código de barras do produto"
											autofocus="autofocus" th:field="*{codigo}"> </input> <span
											class="input-group-btn">
											<button type="submit" class="btn btn-info">
												<i class="glyphicon glyphicon-search"></i> PESQUISAR
											</button> <!-- onblur="obterProdutoPorCodigo(this.value);" -->
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>




				</div>

				<a th:href="@{/movimentacoes}">
					<div class="panel-footer">
						<span class="pull-left">Ver Detalhes de Movimentações</span> <span
							class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>


	</div>

</section>

</html>