<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutPadrao">


<head>
<title>Registro de Movimentação</title>
</head>

<section layout:fragment="conteudo" id="movimentacaoHolter">


	<!-- Page Heading -->
	<!-- <div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Movimentações <small>Detalhes</small>
			</h1>
		</div>
	</div> -->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">

				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<!-- <i class="fa fa-support fa-5x"></i> -->
							<img class="imagem_acao" th:src="@{/imagens/movimentacao.png}"/>
						</div>
					</div>
				</div>
				<div class="panel-body">
						<form class="form-horizontal" method="POST"
							th:object="${movimentacao}" th:action="@{/movimentacoes}">

							<div layout:include="layout/mensagem-geral"></div>


							<input type="hidden" th:field="*{id}" /> <input type="hidden"
								th:field="*{produto}" />

							<div class="row">

								<div class="col-lg-4"  style="text-align: center">
										<img th:src="@{/avatar-prod/load/{id}(id=${movimentacao.produto.avatar.id})}" />					
								</div>


								<div class="col-lg-8">
									<div class="form-group">
										<label for="produto" class="col-lg-3 control-label">Produto</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" readonly="readonly"
												th:field="*{produto.nome}" />
										</div>

									</div>
									<div class="form-group">
										<label for="produto" class="col-lg-3 control-label">Código
											de Barra</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" readonly="readonly"
												th:field="*{produto.codigoDeBarras}" />
										</div>

									</div>
									<div class="form-group">
										<label for="descricao" class="col-lg-3 control-label">Descrição</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" readonly="readonly"
												th:field="*{produto.descricao}" />
										</div>

									</div>

									<div class="form-group">
										<label for="observacao" class="col-lg-3 control-label">Nota
											Fiscal</label>
										<div class="col-lg-9">

											<input readonly="readonly" type="text" class="form-control"
												id="notaFiscal" th:field="*{notaFiscal}"
												placeholder="Nota Fiscal" />

										</div>
									</div>

									<div class="form-group">
										<label for="observacao" class="col-lg-3 control-label">Observações</label>
										<div class="col-lg-9">
											<input readonly="readonly" type="text" class="form-control"
												id="observacao" placeholder="Observacao"
												th:field="*{observacao}" />
										</div>
									</div>
									<div class="form-group">
										<label for="situacao" class="col-lg-3 control-label">Situação</label>
										<div class="col-lg-9">
											<input readonly="readonly" type="text" class="form-control"
												id="situacao" placeholder="Situação" th:field="*{situacao}" />
										</div>
									</div>
									<div class="form-group">
										<label for="lote" class="col-lg-3 control-label">Lote</label>
										<div class="col-lg-9">
											<input readonly="readonly" type="text" class="form-control"
												id="lote" placeholder="Lote" th:field="*{lote}" />
										</div>
									</div>

									<div class="form-group">
										<label for="dataHora" class="col-lg-3 control-label">Data
											e hora da movimentação</label>
										<div class="col-lg-9">
											<input readonly="readonly" type="text" class="form-control"
												id="dataHora" placeholder="Data e Hora"
												th:field="*{dataHora}" />
										</div>
									</div>


								<div class="form-group">
									<div class="col-lg-8 col-lg-offset-3">
										<a  th:href="@{/movimentacoes}"
											class="col-lg-4 btn btn-warning"><span
									class="glyphicon glyphicon-circle-arrow-left"> VOLTAR</span></a>
									</div>
								</div>

							</div>

							</div>
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
						</form>


					
				</div>
			</div>
		</div>
	</div>



</section>

</html>