<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutPadrao">


<head>
<title>Cadastro de Produto</title>
</head>

<section layout:fragment="conteudo">
		
		
		<div id="painel_perfil" class="panel panel-default" >
		<div class="panel-heading">
			<img id="logo_produto" src="/imagens/box_ico.png"/><h3 class="acq-produto-panel">CADASTRO DE PRODUTOS</h3>
<!-- 			<a class="acq-link-panel" th:href="@{/produto}"><button class="btn btn-primary">TODOS OS PRODUTOS</button></a> -->
				<a id="botao-voltar-form" th:href="@{/produto}"><span class="glyphicon glyphicon-circle-arrow-left"> VOLTAR</span></a>
		</div>
		<div class="container">
		<div class="panel-body">
		<blockquote>
			<div class="card " id="card_perfil">
				<div class="row">
					<div class="col-md-6">
						<div class="card-block">
							
							<h4 style="font-size: 50px;" class="card-title" th:text="${produto.nome}"></h4>
							<label style="text-decoration: underline;">DESCRIÇÃO</label>
							<p class="card-text" th:text="${produto.descricao}"></p>
							<label style="text-decoration: underline;">CÓDIGO DE BARRAS</label>
							<p class="card-text" th:text="${produto.codigoDeBarras}"></p>
							<label style="text-decoration: underline;">DATA DE CADASTRO</label>
							<p class="card-text" th:text="${{produto.dataCadastro}}"></p>
							
						</div>
						<br/>
						<div class="card-block" style="margin-top: 15px; margin-left: 15%;">
							<a class="btn btn-primary" style="margin-right: 5px"
								th:href="@{/produto/update/{id}(id=${produto.id})}" title="Editar"
								rel="tooltip" data-placement="top"> <span
									class="glyphicon glyphicon-pencil"> EDITAR</span>
							</a>
							<!-- <a class="btn btn-warning"
								th:href="@{/produto}" title="Voltar"
								rel="tooltip" data-placement="top"> <span
									class="glyphicon glyphicon-circle-arrow-left"> VOLTAR</span>
							</a>  -->
						</div>
					</div>
					<div class="col-md-6">
						<div class="card-img-bottom" >
							<img th:src="@{/avatar-prod/load/{id}(id=${produto.avatar.id})}"/>
						</div>
						<a id="link_atualizar_imagem" th:href="@{/avatar-prod/update/{id}(id=${produto.avatar.id})}" title="Alterar Imagem" th:attr="data-id=${produto.avatar.id}"
								rel="tooltip" data-placement="top">	<button class="btn btn-info">TROCAR IMAGEN</button></a>
					</div>
				</div>
			</div>
		</blockquote>
		</div>
	</div>
</div>
</section>

</html>