<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutPadrao">

<head>
<title>Pesquisa de Produtos</title>
</head>

<section layout:fragment="conteudo">


	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Produtos <small>Todos os Produtos</small>
			</h1>
		</div>
	</div>

	<div layout:include="layout/mensagem-geral"></div>


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-support fa-5x"></i>
						</div>
					</div>
				</div>

				<div class="panel-body">
					<a th:href="@{/produtos/novo}">
						<button class="btn btn-info">
							<i class="glyphicon glyphicon-plus"></i> Novo produto
						</button>
					</a>
					<p></p>
					<div class="table-responsive">

						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center col-md-1">Imagem</th>
									<th class="text-center col-md-1">Código</th>
									<th class="text-center col-md-2">Codigo Barras</th>
									<th class="text-center col-md-2">Nome</th>
									<th class="text-center col-md-2">Descrição</th>
									<th class="text-center col-md-2">Data Cadastro</th>
									<th class="text-center col-md-2">Operação</th>

								</tr>
							</thead>
							

							<tbody>
								<tr th:each="produto: ${produtos}">
									<td class="text-center"><img id="avatar"
										th:src="@{/avatar-prod/load/{id}(id=${produto.avatar.id})}" />
									</td>
									<td class="text-center" th:text="${produto.id}">1</td>
									<td class="text-center" th:text="${produto.codigoDeBarras}">1</td>
									<td class="text-center" th:text="${produto.nome}">1</td>
									<td class="text-center" th:text="${produto.descricao}">1</td>
									<td class="text-center" th:text="${{produto.dataCadastro}}"></td>

									<td class="text-center"><a class="btn btn-info btn-xs"
										th:href="@{/produtos/detalhes/{id}(id=${produto.id})}"
										title="Visualizar" rel="tooltip" data-placement="top"> <span
											class="glyphicon glyphicon-eye-open"></span></a> <a
										class="btn btn-warning btn-xs"
										th:href="@{/produtos/{id}(id=${produto.id})}" title="Editar"
										rel="tooltip" data-placement="top"> <span
											class="glyphicon glyphicon-pencil"></span></a> <a
										class="btn btn-danger btn-xs" data-toggle="modal"
										data-target="#confirmacaoExclusaoModal"
										th:attr="data-id=${produto.id}, data-nome=${produto.nome}"
										title="Excluir" rel="tooltip" data-placement="top"> <span
											class="glyphicon glyphicon-remove"></span></a></td>
								</tr>

								<tr>
									<td class="text-center" colspan="7"
										th:if="${#lists.isEmpty(produtos)}">Nenhum produto foi
										encontrado</td>
								</tr>

							</tbody>

						</table>


						<!-- Paginação -->
						
						

						<div class="row">
							<div class="form-group col-md-1">
								<select class="form-control pagination" id="pageSizeSelectProduto">
									<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
										th:value="${pageSize}"
										th:selected="${pageSize} == ${selectedPageSize}"></option>
								</select>
							</div>
							<div th:if="${produtos.totalPages != 1}"
								class="form-group col-md-11 pagination-centered">
								<ul class="pagination">
									<li th:class="${produtos.number == 0} ? disabled"><a
										class="pageLink"
										th:href="@{/produtos/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
									</li>
									<li th:class="${produtos.number == 0} ? disabled"><a
										class="pageLink"
										th:href="@{/produtos/(pageSize=${selectedPageSize}, page=${produtos.number})}">&larr;</a>
									</li>
									<li
										th:class="${produtos.number == (page - 1)} ? 'active pointer-disabled'"
										th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
										<a class="pageLink"
										th:href="@{/produtos/(pageSize=${selectedPageSize}, page=${page})}"
										th:text="${page}"></a>
									</li>
									<li
										th:class="${produtos.number + 1 == produtos.totalPages} ? disabled">
										<a class="pageLink"
										th:href="@{/produtos/(pageSize=${selectedPageSize}, page=${produtos.number + 2})}">&rarr;</a>
									</li>
									<li
										th:class="${produtos.number + 1 == produtos.totalPages} ? disabled">
										<a class="pageLink"
										th:href="@{/produtos/(pageSize=${selectedPageSize}, page=${produtos.totalPages})}">&raquo;</a>
									</li>
								</ul>
							</div>
						</div>


					</div>


				</div>
				<div layout:include="produto/dialog-confirmacao-exclusao"></div>
			</div>
		</div>
	</div>

</section>


</html>