<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutPadrao">


<head>
<title>Cadastro de Produto</title>
</head>

<section layout:fragment="conteudo">

	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 col-sm-12">
			<ol class="breadcrumb">
				<li><a th:href="@{/index}">Dashboard</a></li>
				<li class="active">Produtos</li>
				<li class="active">Detalhes</li>
			</ol>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-1">
							<!-- <i class="fa fa-support fa-5x"></i> -->
							<img class="imagem_acao" th:src="@{/imagens/ic_produtos.png}" />
						</div>
						<div class="col-lg-6">
							<h3 class="page-header">
								Produtos <small>Detalhe de produto</small>
							</h3>
						</div>
					</div>
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="text-center col-lg-4">
								<img style="width: 238px; height: 238px"
									th:src="@{/avatar-prod/load/{id}(id=${produto.avatar.id})}" />
							</div>
							<div class="col-lg-6">

								<h1 th:text="${produto.nome}"></h1>
								<label>Descrição: </label> 
								<span th:text="${produto.descricao}"></span>
								<br /> 
								<label>Código de Barras: </label> 
								<span class="card-text" th:text="${produto.codigoDeBarras}"></span> 
								<br />
								<label>Status: </label> 
								<span class="card-text" th:text="${produto.ativo ? 'Ativo' : 'Inativo}"></span> 
								<br />
								<label>Data do Cadastro: </label> <span class="card-text"
									th:text="${{produto.dataCadastro}}"></span>
							</div>

						</div>

						<div class="col-lg-12">
							<a th:href="@{/produtos}" class="col-lg-offset-10 btn btn-warning"><span
								class="glyphicon glyphicon-circle-arrow-left"> VOLTAR</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</section>

</html>